<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
  <head></head>
  <body>
    <div layout:fragment="content">
      
        <h1>Register</h1>
        <div class="card-body py-2 px-md-5" style="width: 40%;">
        <a class="btn btn-secondary btn-lg btn-block mb-4" href="/register/client">Client</a>
		<a class="btn btn-primary btn-lg btn-block mb-4" href="/register/trainer">Trainer</a>
		</div>
     
    </div>
  </body>
</html>